# DAY1

In [ ]:
# Loc()
loc() interprets integers as labels
Fetch rows & columns by label(s) or Boolean arrays

In [3]:
import pandas as pd
import numpy as np
df= pd.DataFrame([[20,30],[90,80],[10,40]],
                 index=['Apples','Oranges','Mangoes'],
                 columns=['Price','Quantity']

)
df

         Price  Quantity
Apples      20        30
Oranges     90        80
Mangoes     10        40

In [4]:
#Inputs: Label
df.loc['Apples']

Price       20
Quantity    30
Name: Apples, dtype: int64

In [5]:
df.loc['Apples','Price']

20

In [6]:
df.loc['Apples':'Mangoes','Price']

Apples     20
Oranges    90
Mangoes    10
Name: Price, dtype: int64

In [12]:
#Inputs: Boolean with specified column labels
df.loc[df['Price']>=20,['Quantity']]

         Quantity
Apples         30
Oranges        80

In [15]:
df.loc[lambda df: df['Price'] == 20]

        Price  Quantity
Apples     20        30

In [19]:
#return desired columns for sliced rows
df.loc[:'Oranges',['Quantity','Price']]

         Quantity  Price
Apples         30     20
Oranges        80     90