# DAY2

In [ ]:
#iloc()
#Used when index is other than 0,1,2,3,.... or when user doesn't know index value
# 0-based indexing

In [2]:
import pandas as pd
import numpy as np
df= pd.DataFrame([[20,30],[90,80],[10,40]],
                 index=['Apples','Oranges','Mangoes'],
                 columns=['Price','Quantity']

)
df

         Price  Quantity
Apples      20        30
Oranges     90        80
Mangoes     10        40

In [3]:
df.iloc[1]

Price       90
Quantity    80
Name: Oranges, dtype: int64

In [4]:
df.iloc[:2]

         Price  Quantity
Apples      20        30
Oranges     90        80

In [8]:
df.iloc[:2,:1]

         Price
Apples      20
Oranges     90