# Productivity Dashboard Automate

In [1]:
import pandas as pd
import numpy as np
import datetime

In [2]:
snow1=pd.read_excel("C:/Users/c0s041o/Downloads/snow.xlsx")
mcc1=pd.read_excel("C:/Users/c0s041o/Documents/Evg Report/Manage Incomplete Contingency Sept India.xlsx")
mapping1=pd.read_excel("C:/Users/c0s041o/Documents/Evg Report/Push_Sept_India .xlsx", sheet_name='Sheet2')
push_india=pd.read_excel("C:/Users/c0s041o/Documents/Evg Report/Push_Sept_India .xlsx", sheet_name='Sheet1')
gta=pd.read_excel("C:/Users/c0s041o/Downloads/GTA 26.3.xlsx")
hr_service=pd.read_excel("C:/Users/c0s041o/Documents/Evg Report/Copy of HR Service (version 1).xlsb.xlsx")
snow1['Closed calc date']=pd.to_datetime(snow1['closed_at'], dayfirst=True)
#, encoding='iso-8859-1'
#snow1.head()

In [3]:
#rewrite function to automate try
def func1(a):
    x= str(a)
    if (x>="2020-05-09"  and x<"2020-05-16"):
        t='WK15-FY21'
    elif (x>="2020-05-16"  and x<"2020-05-23"):
        t= 'WK16-FY21'
    elif (x>='2020-05-23' and x<'2020-05-30' ):
        t='WK17-FY21'
    elif (x>='2020-05-30' and x<'2020-06-06'): 
        t='WK18-FY21'
    elif (x>='2020-06-06' and x<'2020-06-13' ):
        t='WK19-FY21'
    elif (x>='2020-06-13' and x<'2020-06-20' ):
        t='WK20-FY21'
    elif (x>='2020-06-20' and x<'2020-06-27' ):
        t='WK21-FY21'
    elif (x>='2020-06-27' and x<'2020-07-04' ):
        t='WK22-FY21'
    elif (x>='2020-07-04' and x<'2020-07-11' ):
        t= 'WK23-FY21'
    elif (x>='2020-07-11' and x<'2020-07-18' ):
        t= 'WK24-FY21'
    elif (x>='2020-07-18' and x<'2020-07-25' ):
        t= 'WK25-FY21'
    elif (x>='2020-07-25' and x<'2020-08-01' ):
        t='WK26-FY21'
    elif (x>='2020-08-01' and x<'2020-08-08' ):
        t= 'WK27-FY21'
    elif (x>='2020-08-08' and x<'2020-08-15' ):
        t= 'WK28-FY21'
    elif (x>='2020-08-15' and x<'2020-08-22'):
        t= 'WK29-FY21'
    elif (x>='2020-08-22' and x<'2020-08-29'):
        t='WK30-FY21'
    elif (x>='2020-08-29' and x<'2020-09-05' ):
        t='WK31-FY21'
    elif (x>='2020-09-05' and x<'2020-09-12' ):
        t='WK32-FY21'
    elif (x>='2020-09-12' and x<'2020-09-19'):
        t='WK33-FY21'
    elif (x>='2020-09-19' and x<'2020-09-26' ):
        t= 'WK34-FY21'
    elif (x>='2020-09-26' and x<'2020-10-03' ):
        t='WK35-FY21'
    elif (x>='2020-10-03' and x<'2020-10-10' ):
        t='WK36-FY21'
    elif (x>='2020-10-10' and x<'2020-10-17' ):
        t='WK37-FY21'
    else:
        t='Null'
    return(t)

def func1(x):
    a='2020-05-09'
    if (x>=a and x<a+7):
        s=15
    else:
        s=s+1
        a=a+7

##TRIA;

a='2020-05-30'
x='2020-05-09'
from datetime import datetime,timedelta
xd = datetime.strptime(x, '%Y-%M-%d')
d = datetime.strptime(a, '%Y-%M-%d')
end= d +timedelta(days=7)
t=d-xd
m=str(t).split()
r=int(m[0])/7

print(m[0],t,r)

In [4]:
snow1['Walmart Week']= snow1['Closed calc date'].apply(func1)

snow1['Join New ID']= np.where(
    snow1['assigned_to.u_walmart_user_id']=="",
    snow1['sys_updated_by'] ,
    snow1['assigned_to.u_walmart_user_id'])

snow1['Associate Unique Key']= snow1['assigned_to']+ "("+snow1['Join New ID']+")"+"|"+ snow1['Walmart Week']

snow1['Manager Again']= np.where(
    snow1['Associate Unique Key']=="()",
    snow1['closed_by.manager'] ,
    snow1['assigned_to.manager'])

snow1['Name Again']= np.where(
    snow1['Associate Unique Key']=="()",
    snow1['closed_by'] ,
    snow1['assigned_to'])

snow1['County Again']= np.where(
    snow1['Associate Unique Key']=="()",
    snow1['closed_by.country'] ,
    snow1['assigned_to.country'])

In [5]:
#Merge servicenow and mapping sheet
snow_mapping_df=pd.merge(snow1, mapping1, how='left', left_on=['Join New ID'], right_on=['User ID'])

In [6]:
snow_mapping_df.columns

Index(['number', 'assigned_to', 'assigned_to.u_walmart_user_id',
       'assigned_to.manager', 'state', 'sla', 'assignment_group', 'hr_service',
       'sys_created_on', 'sys_created_by', 'closed_at', 'closed_by',
       'time_worked', 'sys_updated_on', 'sys_mod_count', 'details',
       'sys_updated_by', 'opened_by', 'opened_for', 'opened_for.department',
       'opened_for.department.u_banner', 'opened_for.department.u_market',
       'opened_for.department.u_region', 'made_sla', 'u_effective_date',
       'assigned_to.country', 'closed_by.country', 'closed_by.manager',
       'Closed calc date', 'Walmart Week', 'Join New ID',
       'Associate Unique Key', 'Manager Again', 'Name Again', 'County Again',
       'Associate Name', 'User ID', 'Manager'],
      dtype='object')

In [7]:

snow_mapping_df['New Manager'] = np.where(
    snow_mapping_df['County Again']=='India',
    snow_mapping_df['Manager'],
    snow_mapping_df['Manager Again'])

In [8]:
snow_mapping_df['Associate Name'] = np.where(
    snow_mapping_df['County Again']=='India',
    snow_mapping_df['Associate Name'],
    snow_mapping_df['Name Again'])

In [9]:
#Data full load crash
#Manager again

In [10]:
mcc1['Walmart Week']= mcc1['Opened'].apply(func1)
mcc1['closed_by.country']='India'

In [11]:
#Merge CCC & mapping file
mcc_mapping_df=pd.merge(mcc1, mapping1, how='left', left_on=['Join New ID'], right_on=['User ID'])

In [12]:
push_mapping_df=pd.merge(push_india, mapping1, how='left', left_on=['Join New ID'], right_on=['User ID'])

In [13]:
push_mapping_df.columns

Index(['number', 'hr_service', 'assigned_to', 'state', 'Walmart Week',
       'Join New ID', 'Manager2', 'closed_by.country', 'closed_by.manager',
       'Name Again', 'Associate Name', 'User ID', 'Manager'],
      dtype='object')

In [14]:
snow_mapping_df_1= snow_mapping_df[['number','hr_service','Name Again','state','Walmart Week','Join New ID','New Manager','County Again','closed_by.manager', 'Name Again','Name Again','Join New ID','New Manager'] ]

In [15]:
snow_mapping_df_1.columns=['number', 'hr_service', 'assigned_to','state', 'Walmart Week',
       'Join New ID', 'Manager2', 'closed_by.country', 'closed_by.manager',
       'Name Again', 'Associate Name', 'User ID', 'Manager']

In [16]:
mcc_mapping_df.columns

Index(['Number', 'hr_service', 'State', 'Short description', 'Assigned to',
       'Assignment group', 'Opened', 'Opened for', 'Subject person', 'SLA',
       'Task percent complete', 'Opened by', 'Manager_x', 'Join New ID',
       'closed_by', 'assigned_to', 'assigned_to.manager', 'Walmart Week',
       'closed_by.country', 'Associate Name', 'User ID', 'Manager_y'],
      dtype='object')

In [17]:
mcc_mapping_df_1= mcc_mapping_df[['Number', 'hr_service', 'assigned_to','State', 'Walmart Week',
       'Join New ID', 'Manager_x', 'closed_by.country', 'Manager_y',
       'Associate Name', 'Associate Name', 'User ID', 'Manager_y']]
mcc_mapping_df_1.columns=['number', 'hr_service', 'assigned_to','state', 'Walmart Week',
       'Join New ID', 'Manager2', 'closed_by.country', 'closed_by.manager',
       'Name Again', 'Associate Name', 'User ID', 'Manager']

In [18]:
push_mapping_df.columns

Index(['number', 'hr_service', 'assigned_to', 'state', 'Walmart Week',
       'Join New ID', 'Manager2', 'closed_by.country', 'closed_by.manager',
       'Name Again', 'Associate Name', 'User ID', 'Manager'],
      dtype='object')

In [19]:
main2 = pd.concat([snow_mapping_df_1,snow_mapping_df_1,push_mapping_df])

In [22]:
#g = main2.groupby(['Associate Name','County Again','assignment_group','hr_service','New Manager','Manager Again','Join New ID','Walmart Week'])['Join New ID'].value_counts()

main2['Volume'] = main2.groupby(['Associate Name','closed_by.country','hr_service','Manager2','Manager','Join New ID','Walmart Week'])['Join New ID'].transform('count')
main2[['Associate Name','closed_by.country','hr_service','Manager2','Manager','Join New ID','Walmart Week','Volume']]

In [310]:
main3['Volume'].head()

County Again  assignment_group  hr_service  New Manager  Manager Again  Join New ID  Walmart Week
                                                                                                     NaN
Name: Join New ID, dtype: object

In [23]:
gta['Walmart Week']= gta['Walmart Week'].apply(lambda x: x.upper())
gta['Walmart User ID']= gta['Walmart User ID'].apply(lambda x: x.lower())

In [312]:
main2.columns

Index(['number', 'hr_service', 'assigned_to', 'state', 'Walmart Week',
       'Join New ID', 'Manager2', 'closed_by.country', 'closed_by.manager',
       'Name Again', 'Associate Name', 'User ID', 'Manager', 'Volume'],
      dtype='object')

In [313]:
hr_service.columns

Index(['HR Service', 'Time'], dtype='object')

In [314]:
main_gta_df=pd.merge(main2, gta, how='left', left_on=['Walmart Week','Join New ID'], right_on=['Walmart Week','Walmart User ID'])

In [315]:
maingta_hrservice_df=pd.merge(main_gta_df, hr_service, how='left', left_on=['hr_service'], right_on=['HR Service'])

In [331]:
maingta_hrservice_df.columns

Index(['number', 'hr_service', 'assigned_to', 'state', 'Walmart Week',
       'Join New ID', 'Manager2', 'closed_by.country', 'closed_by.manager',
       'Name Again', 'Associate Name', 'User ID', 'Manager_x', 'Volume',
       'First name', 'Last name', 'Name Format', 'Walmart User ID',
       'Manager_y', 'Date Range ', 'Unique Format Manager ', 'Name',
       'Unique Week Associate ', 'Total Hours', 'PTO ', 'BRV', 'HR Service',
       'Time', 'Time Worked HR'],
      dtype='object')

In [327]:
maingta_hrservice_df['Time Worked HR']=maingta_hrservice_df['Time']*maingta_hrservice_df['Volume']*24

In [344]:
maingta_hrservice_df['Max_time_worked_HR']=maingta_hrservice_df.groupby(['Associate Name','closed_by.country','hr_service','Manager2','Join New ID','Walmart Week'])['Time Worked HR'].transform(max)
maingta_hrservice_df['Max_time']=maingta_hrservice_df.groupby(['Associate Name','closed_by.country','hr_service','Manager2','Join New ID','Walmart Week'])['Time'].transform(max)
maingta_hrservice_df['Max_Volume']=maingta_hrservice_df.groupby(['Associate Name','closed_by.country','hr_service','Manager2','Join New ID','Walmart Week'])['Volume'].transform(max)
maingta_hrservice_df['Max_PTO']=maingta_hrservice_df.groupby(['Associate Name','closed_by.country','hr_service','Manager2','Join New ID','Walmart Week'])['PTO '].transform(max)
maingta_hrservice_df['Max_Total Hours']=maingta_hrservice_df.groupby(['Associate Name','closed_by.country','hr_service','Manager2','Join New ID','Walmart Week'])['Total Hours'].transform(max)
#maingta_hrservice_df[['Associate Name','closed_by.country','hr_service','Manager2','Manager','Join New ID','Walmart Week','Volume']]
y=maingta_hrservice_df[['Associate Name','closed_by.country','hr_service','Manager2','Join New ID','Walmart Week','Max_time_worked_HR','Max_PTO','Max_Total Hours','Max_time','Max_Volume']]

In [346]:
y.drop_duplicates(inplace = True) 
y.to_excel (r'C:/Users/c0s041o/Downloads/export_dataframe1.xlsx', sheet_name= 'Main',index = False, header=True)

<ipython-input-346-a202473e4a7c>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  y.drop_duplicates(inplace = True)